.element_litle-size {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    row-gap: 20px;
  }
  @media screen and (max-width: 590px) {
    .element_litle-size {
      padding: 0 19px 0 19px;
      grid-template-columns: repeat(1, 1fr); 
    }
  }
  @media screen and (min-width: 591px) and (max-width: 980px) {
    .element_litle-size {
      grid-template-columns: repeat(3, 1fr);
      padding: 0 19px 0 19px;
    }
}