.element_litle-size {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    height: 600px;
    overflow-y: scroll;
    scrollbar-color: black white;
    scrollbar-width: 5px;
  }
  @media screen and (max-width: 590px) {
    .element_litle-size {
      padding: 0 19px 0 19px;
      grid-template-columns: repeat(1, 1fr); 
    }
  }
  @media screen and (min-width: 591px) and (max-width: 980px) {
    .element_litle-size {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 19px 0 19px;
    }
}