.gallery {
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 140px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 55% 45%;
    max-width: 1462px;
    position: relative;
  }