.intro {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-width: 950px;
  margin: 60px auto 400px auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 750px;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    max-width: 580px;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .intro {
    max-width: 300px;
    margin: 100px auto 200px auto;
  }
}
